---
import CommonLayout from "../layouts/Common.astro";
---

<CommonLayout title={"404"}>
  <!-- ══════════════ ARTICLE PAGE ══════════════ -->
  <div class="page-article">
    <div class="center-title">
      <div class="hero">
        <h1>Nothing to see here.</h1>
        <div class="hero-eyebrow">404 Not Found</div>
      </div>
      <a class="tab-btn active" onclick="history.back();">← Go back</a>
    </div>
  </div>
</CommonLayout>
