---
import { type CollectionEntry, getCollection, render } from "astro:content";


export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts
    .map((post) => ({
      params: { slug: post.id },
      props: post,
    }));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(post);
const dateFormatter = new Intl.DateTimeFormat('en-GB', { dateStyle:'medium', timeStyle: "short" });
const createdDate = remarkPluginFrontmatter.created_at
const modifiedDate = remarkPluginFrontmatter.updated_at
console.debug(remarkPluginFrontmatter)
---

<h1>{post.data.title}</h1>
<div title={remarkPluginFrontmatter.email}>Author: {remarkPluginFrontmatter.author}</div>
<time>Publish Date: {dateFormatter.format(createdDate)}</time>
{ 
(modifiedDate > createdDate) && 
<time><em>Updated Date: {dateFormatter.format(modifiedDate || createdDate)}</em></time>
}

<div class="content-container">
  <Content />
</div>
